* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "FreeMono";

}

body {
    background-color: lightsalmon;
}

h1, h2, form {
    text-align: center;
}

h1 {
    margin: 30px;
    font-size: 50px;
}

h2 {
    margin: 20px;
}

#intro {
    text-align: center;
    margin: 10px;
    font-size: 20px;
}

#catFacts {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.catFact {
    margin: 10px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.catFactItem {
    width: 500px;
    background-color: white;
    border: solid 2px black;
    margin: 10px;
    padding: 5px;
}

#catPictures {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.catPicture {
    width: 1800px;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.catPictureItem {
    margin: 5px;
    border: solid white 2px;
}

footer {
    text-align: center;
}